body{
    text-align: center;
}
h1{
    color: aquamarine;
}

img{
    width: 400px;
}

#thirdDiv{
 height: 600px;   
 background-color: burlywood;
}

.spanId{
    border-color: chocolate, 50px;
    margin: 50px;

    padding: 50px;
    font-size: 18px;
} 

